#main-container {
    background-color: #DCD9C8;
    padding-top: 50px;
}

#content-container {
    background-color: #DCD9C8;
    min-height: 820px;
    padding: 20px;
    margin-left: 200px;
}

@media screen and (max-width: 768px) {
    #content-container {
        margin-left: 0px;
        width: 100%;
    }
}