.page-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.table th {
    background-color: rgb(231, 238, 235);
}

.users-table {
    background-color: #F3F8FF;
}

.users-table header {
    background-color: rgb(190, 197, 195);
    font-weight: 400;
    font-size: 18px;
    padding: 5px 10px;
}